* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  height: 100%;
}

::selection {
  background: white;
  color: black;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
